/*style.css
jackson, william
CSCI E-15 Assignment2, part3*/

#header {
	float: right;
	margin-right: 15%;
	background-color: fuchsia;
}

#mainMenu {
	width: 75%;
	float: right;
	margin-right: 12%;
}

.inlineList {
	display: inline;
	margin: 0.5%;
}

hr {
	width: 75%
}

#sideMenu {
	float: left;
	font-size: xx-small;
	width: 10%;
	background-color: yellow;
}

#breadcrumbs {
	display: inline;
	float: right;
	clear: left;
	background-color: green;
}

#content {
	width: 60%;
	float: right;
	clear: right;
	background-color: aqua;
}

#address {
	float: left;
	clear: left;
	margin-top: 17.5%;
	background-color: gray
}